*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
   --Blue-Secondary: #0076FF;
   --Blue-Primary: #17172B;
   --Text: #34343E;
   --White: #ffffff;
   --Red: #FF0000;
}

body{
    width: 1440px;
    padding: 60px 100px 120px 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
    border: solid rgba(0, 0, 0, 0.20);
    border-width: 0px 0px 1px 0px;
    margin-bottom: 60px;
}

.header-title{
    color: var(--Blue-Primary);
    font-size: 48px;
    font-weight: 700;
}

.add-new-book{
    padding: 18px 28px;
    border-radius: 30px;
    background: rgba(0, 118, 255, 0.10);
    border: none;
    color: var(--Blue-Secondary);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%; /* 16px */
    letter-spacing: -0.16px;
}

.add-new-book:hover{
    background: var(--Blue-Secondary);
    color: var(--White);
    cursor: pointer;
}

.book-list{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.book-card{
    width: calc(25% - 60px); 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-card-cover{
    width: 100%;
    border-radius: 8px;
    max-height: 358px;
    object-fit: cover;
}

.book-card-rate{
    padding-top: 10px;
}

.book-card-title{
    color: var(--Blue-Primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 120%; /* 24px */
}

.book-card_information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.book-card_information p{
    color: var(--Text);
    font-size: 14px;
    font-weight: 400;
}

.book-card-reading-status{
    border-radius: 600px;
    background: rgba(4, 184, 0, 0.10);
    border: none;
    text-align: center;
    padding: 8px;
    color: #04B800;
    font-size: 14px;
    font-weight: 600;
}

.book-card-reading-status:focus, .book-card-reading-status:active{
    border: none;
    outline: none;
}

.book-card-reading-status:has(option:checked[value="reading"]) {
    color: var(--Blue-Secondary);
    background: rgba(0, 118, 255, 0.10);
}

.book-card-reading-status:has(option:checked[value="pending"]) {
    color: var(--Red);
    background: rgba(255, 0, 0, 0.1);
}

.book-card-reading-status{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#new-book-form{
    padding: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 16px;
    width: 570px;
}

.close-new-book-form{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

#new-book-form h2{
    font-size: 32px;
    margin-bottom: 40px;
}

#new-book-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#new-book-form input, #new-book-form select{
    width: 100%;
    border: solid 1px #E6F1F8;
    border-radius: 8px;
    padding-left: 20px;
    height: 50px;
}

#new-book-form input[type="file"] {
  border: none;
  padding: 0px;
  border-radius: 0px;
}

#new-book-form label{
    font-size: 16px;
    color: var(--Blue-Primary);
    font-weight: 700;
    margin-bottom: -10px;
}

#new-book-form button{
    padding: 18px 28px;
    border-radius: 30px;
    background: var(--Blue-Secondary);
    border: none;
    color: var(--White);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%; /* 16px */
    letter-spacing: -0.16px;
}

#new-book-form button:hover{
    background: rgba(0, 118, 255, 0.10);
    color: var(--Blue-Secondary);
    cursor: pointer;
}

.remove-book-btn{
    height: 28px;
    width: 28px;
    position: absolute;
    margin: 10px 0px 0px 10px;
    display: none;
    cursor: pointer;
}

.book-card:hover .remove-book-btn{
    display: block;
}